<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>header}}
        <div class="col-md-12 error-image-div">
            <img class="img-fluid error" src="/image/404img.png">
            <h1>Opps ! Page Not Found</h1>
            <a href="/"><button>Go Home</button> </a>
        </div>
        {{>footer}}
    </body>
</html>