<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>header}}
        <h1>Hello Dipu Sharma This is About Page</h1>
        <p>I am FullStack Developer. and Kanchan Frontend Developer</p>
        {{>footer}}
    </body>
</html>