<!DOCTYPE html>
<html>
{{>head}}

<body>
    {{>header}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-4 col-12 main_header_left">
                        <h1>Welcome to our site</h1>
                        <h2 style="font-size: 25px; font-weight:bold;">Get Current <span style="color: blue; font-size: 20px;">Weather</span> of your City</h2>
                        <a href="/weather" class="button" style="font-size: 12px; font-weight:bold;">Show Weather</a>
                    </div>
                    <div class="col-md-8 col-12 main_header_right">
                        <img class="img-fluid earth-image" src="/image/earth.png">
                    </div>
                </div>
            </div>

        </div>f
    </div>
    {{>footer}}
</body>

</html>